@model Sistema_Inventario.WebAdmin.Models.Inventario

@{
    ViewBag.Title = "Eliminar";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <h2>Delete</h2>

                <h3>Desea eliminar el inventario?</h3>
                <div>
                    <h4>Inventario</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Bodega.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bodega.Nombre)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Volver", "Index")
                        </div>
                    }
                </div>
                </div>
</div>
</div>
</div>